.inc-dec-btn
{
  font-size: 1.3rem;
  cursor: pointer;
  background: transparent;
  border: none;
  &:focus
  {
    outline: 0;
  }
}
.quantity
{
  width: 70px;
  border: none;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  &:focus
  {
    outline: none;
    box-shadow: none;
  }
}
.image
{
  width: 70px;
}

tbody
{
  vertical-align: middle;
}
a
{
  color: #222;
  text-decoration: none;
}
