/* You can add global styles to this file, and also import other style files */
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*
{
  outline: none;
}
.pointer
{
  cursor: pointer;
}
.fw-500
{
  font-weight: 500;
}
.fw-600
{
  font-weight: 600;
}
.main-btn
{
  background-color: #ef6c00;
  border: 1px solid #ef6c00;
  color: #fff;
  border-radius: .5rem;
  padding: .8rem 2rem;
  text-decoration: none;
  display: inline-block;
  &:hover
  {
    text-decoration: none;
    color: #fff;
  }
}
.main-bg
{
  background-color: #ef6c00;
}
.main-color
{
  color: #ef6c00;
}

[dir="rtl"]{
  &.me-auto
  {
    margin-right: 0 !important;
    margin-left: auto;
  }
  &.ms-auto
  {
    margin-right: auto;
    margin-left: 0 !important;
  }
  &.text-right
  {
    text-align: left !important;
  }
  &.text-left
  {
    text-align: right !important;
  }

  .form-control
  {
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .me-auto
  {
    margin-right: 0 !important;
    margin-left: auto !important;
  }
  .ms-auto
  {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
  .text-right
  {
    text-align: left !important;
  }
  .text-left
  {
    text-align: right !important;
  }
}
